.Drop-cap{float: left;


    line-height: 50%;
  
  
    width: .8em;
  
  
    font-size: 400%;
  
  
    font-family: georgia;}
.Drop-cap1{float: left;


    line-height: 30%;
  
  
    width: .7em;
  
  
    font-size: 400%;
  
  
    font-family: georgia;}